[package]
name = "drt-tools"
description = "Tools for Debian Release Team work"
version = "0.2.3"
authors = ["Sebastian Ramacher <sebastian@ramacher.at>"]
repository = "https://github.com/sebastinas/drt-tools"
license = "GPL-3.0-or-later"
edition = "2021"
rust-version = "1.56"
readme = "README.md"
keywords = ["debian"]

[workspace]
members = ["assorted-debian-utils"]

[dependencies]
anyhow = "1.0"
assorted-debian-utils = { version = "0.4", path = "assorted-debian-utils" }
chrono = "0.4"
clap = { version = "3", features = ["derive", "unicode", "wrap_help"] }
futures = "0.3"
futures-util = "0.3"
httpdate = "1.0"
indicatif = "0.16"
regex = "1"
reqwest = { version = "0.11", features = ["stream"] }
rfc822-like = "0.2.1"
serde = { version = "1.0", features = ["derive"] }
serde_yaml = { version = "0.8" }
tokio = { version = "1.13", features = ["macros", "rt-multi-thread"] }
xdg = "2.4"
xz2 = "0.1"
voca_rs = "1.14"
